html{
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
}
ul li{list-style-type:none;}
a:hover,a:focus{ text-decoration: none; }
ul, ol {
     padding: 0; 
     list-style: none; 
     margin: 0; 
}


/*bootstrap默认样式修改*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar {
    
    min-height:60px;
}
.navbar-toggle {

    margin-bottom: 20px; 
    margin-top: 20px;
}
.navbar-nav{ 
    width: 100%;
    text-align: center;
     }


/*****************头部*************************************************/
/*导航*/

.navbar-brand {
 background: url(../images/logo.png) left center no-repeat; 
 display: block; 
 width: 146px;
 height: 80px;
 margin:0 20px;
}
.nav-link ul li a{
    color: #1c1c1c;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px;
    white-space: nowrap;
}
.nav-link ul li a:hover,.nav-link ul li a:focus{
    color: #3c79e7!important;
}
.navbar-nav {
    margin-top: 28px;
    display: inline-block;
}

@media (max-width: 991px) and (min-width: 768px){
    .banner-box {
        height: 603px;
    }
    .navbar-brand {
 background: url(../images/logo.png) center center no-repeat; 
 width: 100%;
 display: block;
}

.nav-link{
  float: none!important;
  width: 100%;
  margin:0 auto;
 }

.nav-link .nav{
 display: block;
  width: 250px;
  margin:0 auto;
}
#my-banner{
    margin-top: 120px!important;
}

}


@media (max-width: 991px){
   header .navbar-header,header .navbar-nav {
    float: none;
    clear:both;
   }
   .nav-link ul li a{
    font-size: 1.8rem;
   }

}

/*******返回顶部****************/
.back-top{
   width: 47px;
   height: 47px;
   position: fixed;
   line-height: 47px !important;
   font-weight: 700;
    background: #3c79e7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    right: 66px;
    bottom: 180px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20; 
 }
 .back-top a{
 color: #fff !important;
 }

 .back-top:hover{
    color: #fff;
    background: #1c1c1c;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transform: scale(1.2);
 }
 @media only screen and (max-width: 1399px) {
    .back-top{
        display: none !important;
    }
}

/*******************banner*****************************************/
#my-banner{ 
margin-top: 80px;
 }
.banner-box {
    height: 753px;
}

.banner-box-01,.banner-box-02,.banner-box-03,.banner-box-04{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.banner-box-01{
    background-image: url(../images/banner.jpg);
}
.banner-box-02{
    background-image: url(../images/banner2.jpg);
}
.banner-box-03{
    background-image: url(../images/banner3.jpg);
}
.banner-box-04{
    background-image: url(../images/banner4.jpg);
}

@media (max-width: 720px) and (min-width: 601px){
    .banner-box {
        height: 603px;
    }
}

.banner-content {
    position: absolute;
    text-shadow: none;
    height: 98%;
    right: 10%;
    left: 10%;
    text-align: center;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (max-width: 959px){
   .banner-content {
    right: 1%;
    left: 1%;
} 
}
.banner-title{
    color: #747474;
}
.banner-title h2 {
    text-indent: -999em;
    font-size: 70px;
    line-height: 1;
    font-weight: 700; 
    color: #ffffff;
}

@media screen and (max-width: 600px){
 .banner-title h2{
    background-size: 125px 30px!important;
    height: 35px;
 }
}

.banner1-title h2{
    background: url(http://img.t.felink.com/felinkcn/201604/images/tq/tq_logo.png) no-repeat center center;
}
.banner1-title p{
    color: #fff;
}
.banner-title p {
    font-size: 24px;
    font-family: 'Microsoft YaHei',微软雅黑, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 600px){
    .banner-title p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}
}
.banner-btn{
    padding: 10px;
    display: inline-block;
}

.download-btn li{
    color: #FFF;
    border: 1px solid #fff;
    float: left; 
    height: 57px;
}
.download-btn li:first-child{
    margin-right: 20px;
}


.download-btn li a{
    float: left;
    display: block;
    margin: 0;
    padding: 0 30px;
    width: 267px;
    height: 55px;
    line-height: 55px;
    border-radius: 0px;
    font-family: 'Roboto','Microsoft YaHei',微软雅黑, sans-serif;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 3px;
}

.download-btn li:first-child a{     
    background: #fff;
    color: #000;
   }
.download-btn li:last-child a{     
  background:transparent; 
　background-color:rgba(0,0,0,0);
  color: #fff;
}
.download-btn li span{
    display: inline-block;
    width: 50px;
    height: 55px;
    cursor: pointer;
    
}
.download-btn li:first-child span{
    background:#ffffff url(../images/erweima1.png) center center no-repeat;
}
.download-btn li:last-child span{
    background: url(../images/erweima2.png) center center no-repeat;
}

.download-btn li:first-child a:hover{
    background: #ddd!important;
}
.download-btn li:first-child span:hover{
    background-color:#ddd!important;
}
.download-btn li:last-child a:hover{
    background: #07588f!important;
}
.download-btn li:last-child span:hover{
    background-color:#07588f!important;
}

@media screen and (max-width: 600px) {
    .download-btn li a{
    display: block;
    width: 196px;
    height: 38px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    font-size: 15px;
    }
    .download-btn li{
        float: none;
        margin-right: 0!important;
        margin-bottom: 10px;
        height: 38px;
    }
   
    .download-btn li span{
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 720px){
 .download-btn li{
        float: none;
        margin-right: 0!important;
        margin-bottom: 20px;
    }
 .download-btn li a{
    display: block;
    width: 278px;
    padding: 0;
    margin: 0;
    font-size: 16px;
   }
  .download-btn li span{
    display: none;
  }
}


/*主页中心内容*/
.box:before,
.box:after {
    content: " ";
    display: table;
}

.box:after {
    clear: both;
}

.box:before,
.box:after {
    content: " ";
    display: table;
}

.box:after {
    clear: both;
}

.index-box{
    padding-top: 60px;
    padding-bottom: 62px;
}
.box_aside{
    margin-bottom: 20px;
}

.box_aside a {
    font-size: 20px;
    color: #333333;
    line-height: 30px;
    font-weight: 300;
   font-family: 'Microsoft YaHei',微软雅黑,sans-serif;
}
.box_aside img{
    transition: all 1s;
}
.box_aside img:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
 }

 .box_aside2 img:hover{
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg); !* Safari and Chrome *!
 }




@media (max-width: 767px){
    .box_aside {
        float: none;
        text-align: center;
        margin-right: 0;
    }
    .box{width: 100%;}

}

@media (max-width: 550px) {
  .index-content>div>div{
         width: 100%!important;
    }

}
@media (max-width: 767px){
    .row .col-xs-6 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/*产品中心内容*/
.product-center,.product-center2{
    position: relative;
    margin: 0 auto;
    max-width: 960px; 
    padding: 90px 0;

}
.product-center div h2,.product-center2 div h2 {
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Microsoft YaHei',微软雅黑, sans-serif;
    font-weight: 100;
    color: #333333;
}
.product-center div p,.product-center2 div p{
    margin-top: 40px;
    padding: 0;
    line-height: 28px;
    font-family: 'Microsoft YaHei',微软雅黑, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    text-align: left;
}
.product-center div{
    float: right;
    margin: 20px 0 0 100px;
    width: 50%;
    text-align: left;
}
.product-center2 div {
    float: left;
    margin: 20px 100px 0 0;
    width: 50%;
    text-align: left;
}


@media (max-width: 959px){
     .product-center div ,.product-center2 div {
        margin: 0;
        float: none;
        width: 100%;
    }
}
@media (max-width: 959px)and (min-width: 721px){
   
    .product-center div  h2,.product-center2 div h2{
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
   }
.product-center img,.product-center2 img {
    margin: 50px auto 0;
    display: block;
}

.product-center,.product-center2{
        margin: 0 5%;
    }

}

@media (max-width: 720px) and (min-width: 601px){
    .product-center div  h2,.product-center2 div h2{
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
}
.product-center div  p,.product-center2 div p{
    line-height: 26px;
    font-size: 13px;
   }

.product-center img,.product-center2 img {
    margin: 50px auto 0;
    display: block;
}
.product-center,.product-center2{
        margin: 0 5%;
       padding: 40px 0;
    }

}
@media (max-width:600px){
    .product-center div  h2,.product-center2 div h2{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
   }
   .product-center div  p,.product-center2 div p{
    line-height: 20px;
    font-size: 13px;
   }
   .product-center img,.product-center2 img {
    width: 170px;
    margin: 30px auto 0;
    display: block;
   }
   .product-center ,.product-center2{
       margin: 0 5%;
    width: 90%;
    padding: 30px 0;
    }

}

/********************支持页面*****************************/
.support-banner{
    margin-top: 80px;
    height: 304px;
    width: 100%;
    background-image: url(http://img.t.felink.com/felinkcn/201604/images/support/head.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.support-box{
  padding-top: 60px;
  padding-bottom: 62px;
}
.support-link h3 a{
   
    font-size: 2.4rem;
    color: #333333;
    line-height: 30px;
    font-family: 'Microsoft YaHei',微软雅黑, sans-serif;
}
.support-link a img{
     transition: all 1s ease 0s;
}
.support-link a img:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -webkit-transform: all 1s ease 0s;
}

@media (max-width: 991px) and (min-width: 768px){
    .support-banner{ margin-top: 120px;}
  
}

@media (max-width: 720px) and (min-width: 601px){
  .support-banne{
    background-image: url(http://img.t.felink.com/felinkcn/201604/images/mobile/support-head.png);
    margin-top: 80px;
  }
}
@media screen and (max-width: 600px){
    .support-banner{
    background-image: url(http://img.t.felink.com/felinkcn/201604/images/mobile/support-head.jpg);
    margin-top: 80px;
    }
}


/********************关于***********************************/
.about-banner{
    margin-top: 80px;
    height: 304px;
    width: 100%;
    background-image: url(http://img.t.felink.com/felinkcn/201604/images/about/head.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.about-main {
    position: relative;
    margin: 0 auto;
    max-width: 1038px;
    padding: 90px 0;
}

.about-content ,.about-content-cent{
    padding: 0 22px 0 22px;
}
.about-content h2,.about-content-cent h2{
    font-size: 24px;
    font-family: 'Microsoft YaHei',微软雅黑, sans-serif;
    color: #333333;
    line-height: 1;
    font-weight: 700;
}
.about-content p {
    font-size: 14px;
    font-family: 'Microsoft YaHei',微软雅黑, sans-serif;
    font-weight: 400;
    color: #333333;
    margin-top: 39px;
}
.about-content-cent h4 {
    font-size: 20px;
    font-weight: 300;
    color: #333333;
    margin-top: 39px;
}

@media (max-width:1085px){
 .about-main .row {
    margin: 0;
 }
}


@media (max-width: 991px) and (min-width: 768px){
  .about-banner{ margin-top: 120px;}
}

@media (max-width: 720px) and (min-width: 601px){
  .about-banner {
    background-image: url(http://img.t.felink.com/felinkcn/201604/images/mobile/about-head.png);
    margin-top: 80px;
  }

}
@media screen and (max-width: 600px){
    .about-banner{
    background-image: url(http://img.t.felink.com/felinkcn/201604/images/mobile/About-US.jpg);
    margin-top: 80px;
   }
}
@media (max-width: 550px){
 
    .about-main .row .col-xs-4 {
        clear: both; 
        width: 100%;
    }
}



/*****************页脚************************************/

.footer{
    padding: 90px 0 0;
    width: 100%;
    background: #f7f7f7;
    font-family: 'Microsoft YaHei',微软雅黑,sans-serif; 
}

.footer .footer-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    min-width: 320px;
}
.footer .footer-wrapper .apus-link {
    padding: 0 20px 60px;
    width: 100%;
    display: table;
}

.footer .footer-wrapper .apus-link ul.about, 
.footer .footer-wrapper .apus-link ul.support,
.footer .footer-wrapper .apus-link ul.partners {
    display: table-cell;
    width: 33.333%;
}
.apus-link ul li span{
   display: block;
    margin: 0 0 10px;
    font-size: 24px;
    color: #a1a1a1;
    font-family: 'Microsoft YaHei',微软雅黑,sans-serif;
}

.apus-link ul li a{
   display: block;
    width: 80%;
    line-height: 40px;
    font-size: 16px;
    color: #444;
    font-family: 'Microsoft YaHei',微软雅黑,sans-serif;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.apus-link ul li a:hover{
    text-indent: 10px;
    color: #3C78E6;
}

.footer .footer-wrapper .copyright {
    position: relative;
    padding: 25px 0;
    width: 100%;
    font-size: 16px;
    color: #a1a1a1;
}

.footer .footer-wrapper .copyright .social {
    position: absolute;
    top: 0;
    left: 0;
}

.footer .footer-wrapper .copyright p {
    margin: 0;
    padding: 0;
    display: inline-block;
}


@media (max-width: 959px) and (min-width: 721px){
   .footer .footer-wrapper .copyright p {
    margin: 40px 0 0 5%;
} 
.footer .footer-wrapper .apus-link ul.about, 
    .footer .footer-wrapper .apus-link ul.support,
     .footer .footer-wrapper .apus-link ul.partners {
    display: block;
    float: left;
    margin: 0 5%;
    width: 23%;
}
 .footer {
    padding: 50px 0 0;
}
.footer .footer-wrapper .copyright .social {
    left: 5%;
}
}
@media (max-width: 720px) and (min-width: 601px){
   .footer .footer-wrapper .copyright p {
    margin: 40px 0 0 5%;
} 
.footer .footer-wrapper .apus-link ul.about, 
.footer .footer-wrapper .apus-link ul.support,
.footer .footer-wrapper .apus-link ul.partners {
    display: block;
    float: left;
    margin: 0 5%;
    width: 23%;
}
.footer {
    padding: 50px 0 0;
}
.apus-link ul li span {
    font-size: 18px;
}
.apus-link ul li a{
    width: 100%;
    line-height: 25px;
    font-size: 14px;
}
.footer .footer-wrapper .copyright {
padding: 25px 0;
width: 100%;
font-size: 14px;
color: #a1a1a1;
}
 .footer .footer-wrapper .copyright .social {
    left: 5%;
}

}

@media screen and (max-width: 600px){
   .footer .footer-wrapper .copyright p {
    margin: 0 0 0 5%;
    font-size: 12px;
} 
.footer .footer-wrapper .apus-link ul.about, 
.footer .footer-wrapper .apus-link ul.support, 
.footer .footer-wrapper .apus-link ul.partners {
    display: block;
    float: left;
    margin: 0 5% 20px;
    width: 90%;
}
.apus-link ul li span {
    font-size: 17px;
}
.footer {
    padding: 30px 0 0;
} 
.apus-link ul li a{
width: 100%;
line-height: 30px;
font-size: 13px;
}
.footer .footer-wrapper .copyright {
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
    color: #a1a1a1;
}
 .footer .footer-wrapper .copyright .social {
    position: relative;
    top: -15px;
    left: 5%;
    width: 90%;
}

}



.copyright .social p a{
    color: #a1a1a1;
}





